body {
	background-color: lightslategray;
	font-family: arial, sans-serif;
	font-size: 100%;
}

/* Wells Rock Paper Scissor Title */
.well {
	font-size: 28px;
	text-align: center;
}
/* Form for submitting player name */
#target {
    align-self: center;
}
/* Main 3 Panels */
 .col-xs-4 > .panel > .panel-body{
	height: 300px;
}

#chatbox > .panel > .panel-body {
	height: 100px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
